<h3>
    One of the following things went wrong: <br />
<h3>
    <h5>
        1. You are under 18 years old <br />
        2. Serial number is invalid <br />
        3. This serial number has been used to enter the contest twice before
    </h5>

<a asp-action="Create">Try again</a> <br />
<a asp-action="Index">Back to submissions overview</a>
