<h3>
    An error has occurred. Please check if your serial number is valid and has not been entered twice and try again.
</h3>

<div>
    <a asp-action="Create">Try again</a>
</div>
<div>
    <a asp-action="Index">Back to submissions overview</a>
</div>