
@{
    ViewData["Title"] = "Start";
}

<h1 style="text-align:center">Welcome to the Acme Corp lottery!</h1>

<h4 style="text-align:center">With a valid serial number, you have the chance to win this!</h4>

<img src="~/images/puch.jpg" alt="Puch" align="middle" style="margin:0px 50px"/>

<h1 style="text-align:center">
    <a asp-action="Create">Enter draw now!</a>
</h1>